.menu-wrapper {
    width: fit-content;
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 1rem;
    background-color: var(--purple);
    border: #3c0379;
    border-style: solid;
    z-index: 2;
}

.menu-wrapper input {
    background: none;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
}

.menu-wrapper input::placeholder {
    color: white;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

