.player-wrapper {
    font-size: 12px;
    line-height: 1;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.key {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.keyItem {
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
}

.keyItem:hover {
    background: #6610f2;
    color: white;
}

.keyItem:not(:last-of-type) {
    border-right: 1px solid black;
}